# Ignore all .env files in all subdirectories
**/.env

# Ignore Node.js dependency folders
**/node_modules

# Ignore Python virtual environments
**/venv

# Ignore Next.js build and cache folders
**/dashboard/.next

# Ignore Python cache
**/__pycache__/

# Ignore OS-specific files
.DS_Store
